<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/commen.css" rel="stylesheet" type="text/css" />
<link href="css/css.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script src="DD_belatedPNG.js" mce_src="DD_belatedPNG.js"></script>
<script type="text/javascript">
DD_belatedPNG.fix('#join_us a,.con_list h3,.con_hot h3, ,.index_con,.con_list,background');  
</script> <![endif]-->
<!--[if IE 6]>
<script src="DD_belatedPNG.js" mce_src="DD_belatedPNG.js"></script>
<script type="text/javascript">
DD_belatedPNG.fix('*');  
</script> <![endif]-->
<title>未来大事件</title>
<script type="text/javascript" src="My97DatePicker/WdatePicker.js"></script>
</head>
<body>
 
<div id="top_bg">

  <div id="join_us"><a href="#">邀请好友</a></div>

  <div class="q_search">
    
    <div class="q_incident">
     
      <h3> </h3>
  
      <div class="q_ser_con">
      
        
     
     <form method="post" action="addadvice.php"> 
      <?php echo $result; ?>
     				  
        <div class="qq_name"><em>升级计划1</em><span>
			    <div class="qun_n_cen">
			     <input type="radio" class="radio" name="name" value="1" />某个群组的内容详情页，用户可以查看某个非私密群组的内容页面和群组里面的成员信息
			    </div>
			 </span>
          <div class="clear"></div>
        </div>
        <br /><br />
         <div class="qq_name"><em>升级计划2</em><span>
			    <div class="qun_n_cen">
			     <input type="radio" class="radio" name="name" value="2" />群组的私密设置，用户可建立私密的群组，加入需要审核
			    </div>
			 </span>
          <div class="clear"></div>
        </div>
        <br /><br />
        <div class="qq_name"><em>升级计划3</em><span>
			    <div class="qun_n_cen">
			     <input type="radio" class="radio" name="name" value="3" />可附加图片和链接的内容模板,用户可发表带有图片和链接的内容
			    </div>
			 </span>
          <div class="clear"></div>
        </div>
        <br /><br />
        
         <div class="qq_name"><em>升级计划4</em><span>
			    <div class="qun_n_cen">
			     <input type="radio" class="radio" name="name" value="4" />内容详情评论页，用户可查看针对某个事件的评论页面，与其他关注的人交流
			    </div>
			 </span>
          <div class="clear"></div>
        </div>
        <br /><br />
        
        
          <div class="qq_name"><em>升级计划5</em><span>
			    <div class="qun_n_cen">
			     <input type="radio" class="radio" name="name" value="5" />用户系统操作有积分奖励机制，针对站内有贡献的用户提供积分奖励机制，积分可用用于推广群组，对部分事件内容进行推广
			    </div>
			 </span>
          <div class="clear"></div>
        </div>
        <br /><br /> <br /><br />
        
        
          <div class="qq_name"><em>升级计划6</em><span>
			    <div class="qun_n_cen">
			     <input type="radio" class="radio" name="name" value="6" />针对用积分的用户，提供首页的事件和群组的提供少数的推广链接
			    </div>
			 </span>
          <div class="clear"></div>
        </div>
        <br /><br />
        
        <!--
        
         <div class="qq_more"><em>事件详情*：</em><span>
          <div class="qun_mo_cen"><textarea  class="qun_ji_wr" name="event_detail"></textarea>  </div>
          </span>
          <div class="clear"></div>
        </div>
       
        
        
  
        <div class="qq_more"><em>开始时间:</em><span>
          <div class="qun_n_cen">
            <input class="qun_name_wr" type="text" name="event_date" id="d412" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2013-01-01 00:00:00',maxDate:'2028-03-10 20:59:30'})" value="2013-03-09 11:00:00"/>
          </div>
          </span>
          <div class="clear"></div>
        </div>
         -->
        
         <div class="qq_more"><em>我的建议:</em><span>
         
          <div class="qun_mo_cen"><textarea  class="qun_ji_wr" name="advice_detail"></textarea>  </div>
        
          </span>
          <div class="clear"></div>
        </div>
        
        
          
        
        
        
          
        <!--
			事件详情*<textarea rows="3" cols="3" name="event_detail" style="width:300px"></textarea>
			<input type="text" class="Wdate" name="event_date" id="d412" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2013-01-01 00:00:00',maxDate:'2028-03-10 20:59:30'})" value="2013-03-09 11:00:00"/>
		发布范围*
			<input type=radio name="arrange" value="1"  checked> 公开&nbsp;&nbsp; &nbsp;&nbsp; <input type=radio name="arrange" value="0"> 个人 
			
			
			
<input type="submit" class="button" name="submit" value="新增"  />&nbsp;&nbsp;<a href="indexlist.php">首页列表</a> 
-->
</span>
     <div class="clear"></div> </div>

  <div ><input class="c_s_so" type="submit"  value="提交建议" name="submit"/>  <a href="indexlist.php" class="go_index" >返回主页</a>  <div class="clear"></div>  </div>  
    
   </form>
      
      
        <div class="me_cre_list">
         
    
          
          
          
          
              
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="q_s_bottom"></div>
    </div>
</div>
</div>

</body>

</html>