<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/fevent/resources/css/commen.css" rel="stylesheet"
	type="text/css" />
<link href="/fevent/resources/css/css.css" rel="stylesheet"
	type="text/css" />
<!--[if IE 6]>
<script src="DD_belatedPNG.js" mce_src="DD_belatedPNG.js"></script>
<script type="text/javascript">
DD_belatedPNG.fix('#join_us a,.con_list h3,.con_hot h3, ,.index_con,.con_list,background');  
</script> <![endif]-->
<!--[if IE 6]>
<script src="DD_belatedPNG.js" mce_src="DD_belatedPNG.js"></script>
<script type="text/javascript">
DD_belatedPNG.fix('*');  
</script> <![endif]-->
<title>未来大事件</title>
<script type="text/javascript" src="My97DatePicker/WdatePicker.js"></script>
</head>
<body>

	<div id="top_bg">
		<div id="join_us">
			<a href="#">邀请好友</a>
		</div>
		<div class="q_search">
			<div class="q_add">
				<h3></h3>
				<div class="q_ser_con">
			<?php echo $result; ?>
					<form action="addgroup.php" method="post">
						<div class="qq_name">
							<em>群组名：</em><span>

								<div class="qun_n_cen">
									<input class="qun_name_wr" type="text" name="groupname" />
								</div>


							</span>
							<div class="clear"></div>
						</div>
						<div class="qq_more">
							<em>群组简介：</em><span>

								<div class="qun_mo_cen">
									<textarea class="qun_ji_wr" name="groupdesc"></textarea>
								</div>


							</span>
							<div class="clear"></div>
						</div>
						<div class="qq_name">
							<em>交流群号：</em><span>

								<div class="qun_n_cen">
									<input class="qun_name_wr" type="text" name="qqgroupnumber" />
								</div>


							</span>
							<div class="clear"></div>
						</div>
						<p class="qun_tit_ti">群号请使用英文逗号“,”隔开</p>
						<div>
							<input class="c_s_so" type="submit" value="添加群组" name="submit" />
							<a href="indexlist.php" class="go_index">返回主页</a>
							<div class="clear"></div>
						</div>
					</form>

					<!--
	
				<table width="100%">
			<tr><td width="14%">群组名称*</td><td><input type="text" class="text" name="groupname" style="width:300px" /></td>	</tr>
			<tr><td width="14%">群组描述*</td><td><input type="text" class="text" name="groupdesc" style="width:300px" /></td></tr>
			<tr><td width="14%">群组关键字</td><td><input type="text" class="text" name="groupkeyword" style="width:300px" /></td></tr>
			
			
	<tr><td>&nbsp;&nbsp;</td><td><input type="submit" class="button" name="submit" value="新增"  /><a href="searchgroup.php">搜索群组</a>&nbsp<a href="indexlist.php">返回首页</a></td></tr>
	
</table>
</form>
<br />
-->
					<div class="me_cre_list">
						<h4>
							<img src="images/me_add.gif" width="722" height="35" />
						</h4>
						<div class="create_qun_list">
							<table width="605" border="0" cellpadding="0" cellspacing="0">
								<tr style="background: #fff;">
									<th scope="col">群组号</th>
									<th scope="col">群组名</th>
								</tr>
								<?php 
								$i= 0 ;	
								if(!empty($addedGroupList)):?>
								<?php foreach($addedGroupList as $group):?>
								<?php 
									$i++;
									if($i%2==0){
										echo '  <tr class="blue_tr">';
										}else{
											echo ' <tr>';
										}
										echo '<td>'.$group['group_id'].'</td><td>'.$group['group_name'].'</td>';
										echo '</tr>';
								?>
								<?php endforeach;?>
								<?php endif; ?>
							</table>
						</div>

					</div>
				</div>

				<div class="q_s_bottom"></div>
			</div>
		</div>
	</div>
	</div>

</body>

</html>