<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/fevent/resources/css/commen.css" rel="stylesheet" type="text/css" />
<link href="/fevent/resources/css/css.css" rel="stylesheet" type="text/css" />
<link href="/fevent/resources/css/css1.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script src="DD_belatedPNG.js" mce_src="DD_belatedPNG.js"></script>
<script type="text/javascript">
DD_belatedPNG.fix('*');  
</script> <![endif]-->
<!--[if IE 6]>
<script src="DD_belatedPNG.js" mce_src="DD_belatedPNG.js"></script>
<script type="text/javascript">
DD_belatedPNG.fix('*');  
</script> <![endif]-->
<title>大事件切图</title>
</head>
.
<body>
<div id="top_bg">
  <div id="join_us"><!-- <a href="#">邀请好友</a> --></div>
  <div class="hou_qun_xiang">
        <h3 class=" hou_top_titt hou_top_titt01"><dl class="hou_hi">你好！未来大事件的用户</dl></h3>
    <div class="hou_qun_ccon">
      <div class="hou_qun_left">
      <div class="hou_ll_ttop" ></div>
      
      <div class="hou_ll_center">
             <div class="hou_banzhu">
              <ul>
               <li>
                <h3>  <a name="q1">Q:未来大事件是什么</a></h3>
                  A:未来大事件是一款实用工具，以开放互动的形式将未来即将发生的事情或活动通过平台展现出来，达到提醒、获知、分享、交流等目的。
               </li>
               <li>
                <h3> <a name="q2">Q:可以通过该工具做什么</a></h3>
                   A:通过未来大事件工具，用户可以在将来某一个时间点设置你想完成的事情，开始倒计时提醒（例如：纪念日及生日等节日或者通过发布公开事件约有兴趣的朋友一起自驾游，代办的重大事项倒计时等诸多事件），同时可以获悉首页诸多公共平台大事件。

               </li>
   <li><h3> <a name="q3">Q:如何增加事件</a></h3>
                A:在进入首页后下拉至页面下方——-点击[我要增加]——在页面上方填写事件名称和事件描述——在[开始时间]设置选择事件发生的具体日期——选择发布范围——点击添加事件——新增事件完成。
    </li>
    <li><h3> <a name="q4">Q:如何创建群组</a></h3>
                A: 进入首页——在首页右方热门群组的右上角点击[新建]——在[群组名]、[群组简介]、[群组标签]填写相关内容——点击[添加群组]——创建成功
    </li>
     <li><h3> <a name="q5">Q:我想对应用提出意见</a></h3>
                A:  在进入首页后下拉至页面最下方——点击[参与升级计划]——在[我的建议]填写您的宝贵意见——点击[提出建议]——完成
    </li>
    
     <li><h3> <a name="q6">Q:我想邀请好友一起玩</a></h3>
                A:  进入首页——点击[邀请朋友]——显示邀请成功——完成
    </li>
              
              </ul>
             
             
             
             </div>      
               
                
         
        
   
      
         
         
       
       </div> 
        <div class="hou_bbboom"></div>
      </div>
      <div class="hou_qun_right">
        <div class="con_hot hou_con_hot_01">
           
          <div class="hou_chengyuan">
            <h3 class="hou_info_question">常见问题</h3>
            <div class="hou_hhto_list">
              <ul>
                
                <li><em>1</em><a href="#q1" style="color:#333;">未来大事件是什么</a></li>
                 <li><em>2</em><a href="#q2" style="color:#333;">可以通过该工具做什么</a></li>
                  <li><em>3</em><a href="#q3" style="color:#333;">如何增加事件</a></li>
                  <li><em>4</em><a href="#q4" style="color:#333;">如何创建群组</a></li>
                  <li><em>5</em><a href="#q5" style="color:#333;">我想对应用提出意见</a></li>
                  <li><em>6</em><a href="#q6" style="color:#333;">我想邀请好友一起玩</a></li>
                  
              </ul>
            </div>
            <div class="hot_bbottom"></div>
          </div>
          <div class="hou_chengyuan">
            <h3 class="hou_info_kuaijie">快捷通道</h3>
            <div class="hhto_list">
              <ul>
               
                <li><a href="addevent.php">增加事件</a></li>
                 <li><a href="addgroup.php">创建群组</a></li>
                  <li><a href="addevent.php">增加大事件</a></li>
                   <li><a href="searchgroup.php">搜索群组</a></li>
                   <li><a href="indexlist.php">返回首页</a></li>
              </ul>
            </div>
            <div class="hot_bbottom"></div>
          </div>
           
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- 
     <div class="hou_bottom"><a class="hou_index" href="#">首页</a><a class="hou_my_zhuye" href="#">我的大事件</a>
     <a class="hou_my_qunzu" href="#">群组大事件</a>
     <a class="hou_my_guanzhu" href="#">我的关注</a>
     <a class="hou_my_geren" href="#">个人主页</a> -->
   
    <div class="clear"></div>
  </div>
</div>
</div>
</body>
</html>
