<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/fevent/resources/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/fevent/resources/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/fevent/resources/js/points.js"></script>
</head>
<body>

<center><h1>个人详情页</center>

<?php echo $result;?>

<div id ="zz"></div>
<p></p>
<br />

<?php  print_r($userinfo);?>
<br />
<?php  print_r($joinGroupList);?>
<br />
<?php  print_r($GroupExtendedList);?>
<br />

<?php  print_r($eventsList);?>
<br />

 <?php echo $getpageinfo['pagecode']; ?>
<a href="indexlist.php">首页</a>
</body>
</html>
